<!DOCTYPE html>
<html>
  <head>
    <title>Tantive IV | 404</title>
  </head>
  <body>
    <h1>ERROR 404</h1>
    <h2>This is not the page you were looking for...</h2>
    <h4>This is all that we know</h6>
    <hr />
    <p><%= input %></p>
  </body>
</html>
