<!DOCTYPE html>
<html>
<head>
  <title>TantiumIV</title>
  <link rel="stylesheet" href="css/standard.css">
</head>
<body>
  <div class="header">
    <div class="quick-cuts">
      <h2>
        <ol>
          <li class="cut-element">TantiumIV</li>
          <li class="cut-element">Courses</li>
          <li class="cut-element">Classes</li>
          <li class="cut-element">Assignments</li>
        <ol>
      </h2>
    </div>
    <div class="user-elements">
      <ol>
        <li class="user-element"><h2>User</h2></li>
      </ol>
    </div>
  </div>
  <div class = "body">
    <div class="content">
      <div class="body-partition">
        <h2><ul>Explanation</ul></h2>
      </div>
      <div class="body-partition">
        <h2><ul>coding</ul></h2>
      </div>
      <div class="body-partition">
        <h2><ul>Docs</ul></h2>
      </div>
    </div>
  </div>
  <div class="footer">
    <ol>
      <li><h2>Blue</h2></li>
      <li><h2>Red</h2></li>
      <li><h2>Green</h2></li>
    </ol>
  </div>
</body>
</html>
