<!DOCTYPE html>
<html>
  <head>
    <title>CodeCamp | Login</title>
    <link rel="stylesheet" href="css/standard.css">
    <link rel="stylesheet" href="css/login.css">
  </head>
  <body>
    <div class="header">
      <div class="quick-cuts">
        <h2>
          <ol>
            <li class="cut-element">TantiumIV</li>
            <li class="cut-element">Courses</li>
            <li class="cut-element">Classes</li>
            <li class="cut-element">Assignments</li>
          <ol>
        </h2>
      </div>
      <div class="user-elements">
        <ol>
          <li class="user-element"><h2>User</h2></li>
        </ol>
      </div>
    </div>
    <div class="body">
      <div class="card login">
        <h1>Login</h1>
        <form action="/login" method="post">
          <h3>username</h3>
          <input type="text" name="username"></input>
          <br/>
          <h3>password</h3>
          <input type="password" name="password"></input>
          <br/>
          <input type="submit" value="Login"/>
        </form>
      </div>
    </div>
    </div>
